<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" href="~/Content/css/login-registration.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/Scripts/ServerCallHelper/ServerCall.js"></script>
    <script type="text/javascript" src="~/Scripts/loginScripts.js"></script>

</head>
<body>
    <div class="container">
        <div class="design">
            <img class="dfImageContainer" src="~/Content/images/DFLogo.svg" alt="">
        </div>
        <form class="login-registration" onsubmit="signIn()">
            <img class="dfMobileImage" src="~/Content/images/dayforceacademy.svg">
            <div class="title">
                User Login
            </div>
            <div class="text-input">
                <i class="ri-user-fill"></i>
                <input required type="email" id="email" placeholder="Email">
            </div>
            <div class="text-input">
                <i class="ri-lock-fill"></i>
                <input required type="password" id="password" name="password" placeholder="Password">
            </div>
            <button class="login-registration-btn">LOGIN</button>
            <div class="create">
                <a href="#" id="register" onclick="createAccount()">Create Your Account</a>
                <i class="ri-arrow-right-fill"></i>
            </div>
        </form>
    </div>
</body>



</html>