<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Css/loginRegistration.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/Scripts/loginScripts.js"></script>

</head>
<body>
    <div class="root">
        <form id="formLogin">
            <h2>Login</h2>
            <div class="form-group">
                <label for="email">Email: </label>
                <input type="email" id="email" name="email" class="form-control" />
            </div>
            <div class="form-group">
                <label for="password">Password: </label>
                <input type="password" id="password" name="password" class="form-control" />
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <label class="control-label col-md-2" for="checkbox">Remember Me </label>
                    <input type="checkbox" id="checkbox" name="checkbox" class="checkbox-inline" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <button id="register" onclick="createAccount()">Create an account</button>
                    <button id="login" onclick="signIn()">Login</button>
                </div>
            </div>
        </form>
    </div>
</body>



</html>