<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" href="~/Css/registration.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/Scripts/loginScripts.js"></script>

</head>
<body>
    <div id="registration-form-wrap">
        <h2>Registration</h2>
        <form id="formRegistration">
            <p><input type="email" id="email" name="email" class="form-control" placeholder="Email" /></p>
            <p><input type="password" id="password" name="password" class="form-control" placeholder="Password" minlength="6" /></p>
            <p><input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm Password" minlength="6"/></p>
            <p><input type="submit" id="createAccount" onclick="register()" /></p>
        </form>
        <div id="login-wrap">
            <p>Already have an account? <a href="#" id="login" onclick="goToLoginPage()">Login</a></p>
        </div>
    </div>
</body>



</html>