@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*, html, body {
    margin: 0;
    padding: 0;
    
}
.title{
    font-size: 42px;
    font-weight: 700;
    position: relative;
    padding-bottom: 30px;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    background-image: url("../images/DFLogo.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.dfMobileImage{
    display: none;
    width: 100%;
    height: 30%;
}

.dfImageContainer{
    top: -85px;
    left: -130px;
    width: 750px;
    position: absolute;
    overflow: hidden;
    z-index: 1;
}
.container {
    width: 90vw;
    height: 90vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "login";
    box-shadow: 0 0 17px 10px rgb(0 0 0 / 30%);
    border-radius: 20px;
    background: white;
    overflow: hidden;
}

.design {
    display: none;
    position: relative;
}

.login-registration {
    grid-area: login;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background: white;
}

    .login-registration h3.title {
        margin: 35px 0;
        font-size: 42px;
    }

.text-input {
    background: #e6e6e6;
    height: 60px;
    display: flex;
    width: 60%;
    align-items: center;
    border-radius: 10px;
    padding: 0 15px;
    margin:10px 0;
}

.text-input input {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    margin-left: 10px;
}

.text-input i {
    color: #686868;
}

::placeholder {
    color: #9a9a9a;
}

.login-registration-btn {
    width: 68%;
    min-height: 5%;
    padding: 10px;
    color: white;
    background: linear-gradient(to right, #6991e5, #3067db, #6991e5);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 30px;
    font-size: 24px;
}

a {
    font-size: 18px;
    color: #9a9a9a;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}

.create {
    display: block;
    align-items: center;
    position: absolute;
    bottom: 40px;
}

.create i {
    color: #3067db;
    margin-left: 10px;
}

@media (min-width: 1100px) {
    .container {
        grid-template-columns: 60% 40%;
        grid-template-areas: "design login";
    }

    .design {
        display: block;
        width: 4vw;
    }
}
@media (min-width: 1100px) {
    .container {
        grid-template-columns: 60% 40%;
        grid-template-areas: "design login";
    }

    .design {
        display: block;
    }
}
@media (max-width: 750px) {
    body{
        background-image: none;
    }
    .dfMobileImage{
        display: block;
        margin-top: -100px;
        min-width: 30%;
    }
}

@media (max-width: 450px) {
    .title{
        font-size: 34px;
    }
}