<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Student Profile</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/form.css" />
    <link rel="stylesheet" href="~/Content/css/profile.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/Scripts/ServerCallHelper/ServerCall.js"></script>
    <script type="text/javascript" src="~/Scripts/studentScripts.js"></script>
    <script type="text/javascript" src="~/Scripts/studentProfileScripts.js"></script>
</head>
<body onload="loadStudentData()">
    <div class="container">
        <div class="title">Student Profile</div>
        <div class="content">
            <form>
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">First Name</span>
                        <input type="text" id="FirstName" name="FirstName" placeholder="Firstname" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Last Name</span>
                        <input type="text" id="LastName" name="LastName" placeholder="Lastname" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Address</span>
                        <input type="text" id="Address" name="Address" placeholder="Address" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Phone Number</span>
                        <input type="text" id="PhoneNumber" name="PhoneNumber" placeholder="Enter your Phone Number" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Date of Birth</span>
                        <input type="date" id="DateOfBirth" name="DateOfBirth" placeholder="Enter your Date of Birth" required>
                    </div>
                    <div class="input-box">
                        <span class="details">National ID</span>
                        <input type="text" id="NationalId" name="NationalId" placeholder="Enter your National ID" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Guardian's Name</span>
                        <input type="text" id="GuardianName" name="GuardianName" placeholder="Enter Guardian's name" required>
                    </div>
                </div>
                <div class="action-buttons">
                    <div class="edit-btn">
                        <button id="editButton" class="button-61" onclick="enableInputs()">Edit Details</button>
                    </div>
                    <div class="cancel-btn">
                        <button id="cancelButton" disabled class="button-61" onclick="CancelChanges()">Cancel Changes</button>
                    </div>
                    <div class="save-btn">
                        <button id="saveButton" disabled class="button-61" onclick="SaveChanges()">Save Details</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
