<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/form.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/Scripts/ServerCallHelper/ServerCall.js"></script>
    <script type="text/javascript" src="~/Scripts/studentScripts.js"></script>
</head>
<body onload="loadDropdown()">
    <div class="container">
        <div class="title">Student Registration</div>
        <div class="content">
            <form onsubmit="createStudent()">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">First Name</span>
                        <input type="text" id="FirstName" name="FirstName" placeholder="Firstname" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Last Name</span>
                        <input type="text" id="LastName" name="LastName" placeholder="Lastname" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Phone Number</span>
                        <input type="text" id="PhoneNumber" name="PhoneNumber" placeholder="Enter your Phone Number" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Date of Birth</span>
                        <input type="date" id="DoB" name="DoB" placeholder="Enter your Date of Birth" required>
                    </div>
                    <div class="input-box">
                        <span class="details">National ID</span>
                        <input type="text" id="Nid" name="Nid" placeholder="Enter your National ID" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Guardian's Name</span>
                        <input type="text" id="GuardianName" name="GuardianName" placeholder="Enter Guardian's name" required>
                    </div>
                </div>
                <div class="title">
                    HSC Result<button class="fa fa-plus-circle" style="color:darkblue; border:0;background-color: transparent;font-size: larger;" onclick="addResultRow()" type="button" id="addButton"></button>
                </div>
                <div class="input-box-table">
                    <table id="AddItemsTable">
                        <tr>
                            <th>Subject</th>
                            <th>Result</th>
                        </tr>
                        <tr>
                            <td>
                                <select required onchange="checkValue()" id="dropdownSubjects0" name="dropdownSubjects0" class="form-control">
                                </select>
                            </td>
                            <td>
                                <select required class="resultSelect" id="SubjectResult[0].Result" name="SubjectResult[0].Result">
                                    <option label="-" value=""></option>
                                    <option value="A">A - 10 Points</option>
                                    <option value="B">B - 8 Points</option>
                                    <option value="C">C - 6 Points</option>
                                    <option value="D">D - 4 Points</option>
                                    <option value="E">E - 2 Points</option>
                                    <option value="F">F - 0 Points</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="button">
                    <input type="submit" value="Register">
                </div>
            </form>
        </div>
    </div>
</body>
</html>
