<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/Scripts/studentScripts.js"></script>
</head>
<body onload="loadDropdown()">
    <h2>Student Registration</h2>
    <div class="form-horizontal">
        <hr />
        <form>
            <fieldset>
                <legend>Student Details</legend>
                <div class="form-group">
                    <label for="FirstName" class="control-label col-md-2">Firstname</label>
                    <div class="col-md-10">
                        <input required type="text" id="FirstName" name="FirstName" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="LastName" class="control-label col-md-2">Lastname</label>
                    <div class="col-md-10">
                        <input required type="text" id="LastName" name="LastName" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="PhoneNumber" class="control-label col-md-2">Phone Number</label>
                    <div class="col-md-10">
                        <input required type="text" id="PhoneNumber" name="PhoneNumber" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="DoB" class="control-label col-md-2">Date of birth</label>
                    <div class="col-md-10">
                        <input required type="date" id="DoB" name="DoB" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="Nid" class="control-label col-md-2">National Id</label>
                    <div class="col-md-10">
                        <input required type="text" id="Nid" name="Nid" class="form-control" />
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Result Details</legend>
                <div class="form-group">
                    <table id="AddItemsTable" class="table-condensed">
                        <tr>
                            <th>
                                <label for="dropdownSubjects0" class="control-label col-md-2">Subject</label>
                            </th>
                            <th>
                                <select required onchange="checkValue()" id="dropdownSubjects0" name="dropdownSubjects0" class="form-control">
                                </select>
                            </th>
                            <th>
                                <label for="Grade[0].Result" class="control-label col-md-2">Result</label>
                            </th>
                            <th>
                                <select required class="form-control" id="Grade[0].Result" name="Grade[0].Result">
                                    <option label="-" value=""></option>
                                    <option value="A">A</option>
                                    <option value="B">B</option>
                                    <option value="C">C</option>
                                    <option value="D">D</option>
                                    <option value="E">E</option>
                                    <option value="F">F</option>
                                </select>
                            </th>
                        </tr>
                    </table>

                    <button class="fa fa-plus-circle" style="color:darkblue; border:0;background-color: transparent;font-size: large;" onclick="addResultRow()" type="button" id="addButton"></button>
                </div>
            </fieldset>
            <fieldset>
                <legend>Guardian Details</legend>
                <div class="form-group">
                    <label for="guardianFirstName" class="control-label col-md-2">Guardian Firstname</label>
                    <div class="col-md-10">
                        <input required type="text" id="guardianFirstName" name="guardianFirstName" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="guardianLastName" class="control-label col-md-2">Guardian Lastname</label>
                    <div class="col-md-10">
                        <input required type="text" id="guardianLastName" name="guardianLastName" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="guardianPhoneNumber" class="control-label col-md-2">Guardian Phone Number</label>
                    <div class="col-md-10">
                        <input required type="text" id="guardianPhoneNumber" name="guardianPhoneNumber" class="form-control" />
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input onclick="createStudent()" type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </form>
    </div>
</body>
</html>
